<div id="participant<%= participant.id %>">
  <%= link_to participant.name, "mailto:#{participant.email}" %> <%= link_to "[x]", participant, method: :delete, remote: true, confirm: "Are you sure you want to remove this participant?" %>
</div>