<h1>Need to run a secret santa but can't meet up in real life?</h1>

<div class='message'>
  This is where the super simple secret santa service comes in. Just login, setup a draw, add your family and friends, and press the button.
  We will email them, and keep track for you who has viewed their selection.
</div>

<br/><br/>

<div class='pull_center'>
  <%= link_to "Login with Twitter", "/auth/twitter", :class => "button tw" %>
</div>