<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hi <%= @pick.picker.name %>,</h2>
    <p>
      <%= @pick.draw.user.name %> has made a secret santa draw for you.
    </p>
    
    <p>
      <%= link_to "Click here to see who you have!", @url %>
    </p>
    
  </body>
</html>