/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require buttons
 *= require form
 *= require_self
 *= require draws
*/
@import url(http://fonts.googleapis.com/css?family=Merienda+One);

$content-color: #fff;
$header-color: #a90329;
$header-color2: darken($header-color, 5%);
$header-color3: darken($header-color, 10%);
$footer-color: rgb(183,173,112);

body {
    background-color: rgb(213,206,166);
}

a {
    color: #840221;
}

.hidden {
    display: none;
}

.pull_right {
    text-align: right;
}

.pull_center {
    text-align: center;
}

#flash {
    position: fixed;
    background: #840221; /* Old browsers */
    background: -moz-linear-gradient(top,  #840221 0%, #70021b 44%, #560014 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#840221), color-stop(44%,#70021b), color-stop(100%,#560014)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #840221 0%,#70021b 44%,#560014 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #840221 0%,#70021b 44%,#560014 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #840221 0%,#70021b 44%,#560014 100%); /* IE10+ */
    background: linear-gradient(top,  #840221 0%,#70021b 44%,#560014 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#840221', endColorstr='#560014',GradientType=0 ); /* IE6-9 */
    text-align: center;
    top: 0px;
    width: 100%;
    left: 0px;
    padding: 10px 0px 15px 0px;
    color: #fff;
    z-index: 100;
    font-family: 'Merienda One', cursive;
    font-size: 22px;
}

.inside {
    width: 800px;
    padding: 0px 10px;
    margin: 0px auto;
}

#header {
    min-width: 960px;
    font-family: 'Merienda One', cursive;
    padding: 10px 0px 15px 0px;
    background: $header-color; /* Old browsers */
    background: -moz-linear-gradient(top,  $header-color 0%, $header-color2 44%, $header-color3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$header-color), color-stop(44%,$header-color2), color-stop(100%,$header-color3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $header-color 0%,$header-color2 44%,$header-color3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $header-color 0%,$header-color2 44%,$header-color3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $header-color 0%,$header-color2 44%,$header-color3 100%); /* IE10+ */
    background: linear-gradient(top,  $header-color 0%,$header-color2 44%,$header-color3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$header-color', endColorstr='$header-color3',GradientType=0 ); /* IE6-9 */
    border-bottom: 5px solid #ddd;
    
    
    a {
        color: lighten($header-color, 70%);
        font-size: 22px;
        text-decoration: none;
    }

    .navigation {
        float: right;
        position: relative;
        top: 4px;
        
        a {
            font-size: 16px;
            text-decoration: underline;
        }
    }
}

#content {
    min-width: 960px;
    background: $content-color;
    font-size: 16px;
    padding: 40px 0px;
    font-family: Arial, sans-serif;
}

#footer {
    min-width: 960px;
    background: $footer-color; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(183,173,112,1) 0%, rgba(201,193,144,1) 60%, rgba(213,206,166,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,173,112,1)), color-stop(60%,rgba(201,193,144,1)), color-stop(100%,rgba(213,206,166,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(183,173,112,1) 0%,rgba(201,193,144,1) 60%,rgba(213,206,166,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(183,173,112,1) 0%,rgba(201,193,144,1) 60%,rgba(213,206,166,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(183,173,112,1) 0%,rgba(201,193,144,1) 60%,rgba(213,206,166,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(183,173,112,1) 0%,rgba(201,193,144,1) 60%,rgba(213,206,166,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7ad70', endColorstr='#d5cea6',GradientType=0 ); /* IE6-9 */
    border-top: 5px solid #ddd;
    min-height: 300px;
    font-family: Arial, sans-serif;
    color: lighten($footer-color, 30%);
    font-size: 13px;
    padding: 10px 0px;
    
    a {
        color: lighten($footer-color, 40%);;
    }
}